@page "/yourdata"
@inject EFCoreService efCoreService

<h3>Data from SQL Server</h3>

<ul>
    @foreach (var item in efCoreService.Context.Fruits)
    {
        <li>@item.Name</li>
        <li>@item.Color</li>
    }
</ul>

@code {
    protected override async Task OnInitializedAsync()
    {
        await DbContext.YourEntities.ToListAsync();
    }
}
<input @bind="newItem.PropertyName" placeholder="Enter new item" />
<button @onclick="AddItem">Add</button>

<button @onclick="EditItem(item)">Edit</button>
<button @onclick="DeleteItem(item)">Delete</button>

@code {
    private Fruit newItem = new Fruit();

    private async Task AddItem()
    {
        AppDbContext.Fruits.Add(newItem);
        await DbContext.SaveChangesAsync();
    }

    private async Task EditItem(Fruit item)
    {
        item.Name = "Updated Value";
        await AppDbContext.SaveChanges();
    }

    private avoid DeleteItem(Fruit item)
    {
        AppDbContext.Fruits.Remove(item);
        AppDbContext.SaveChanges();
    }
}
